@model IEnumerable<Students.Models.Student>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/_Layout1.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.StudentName).ToHtmlString(), "Index", new { sort = "StudentName" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.DateOfBirth).ToHtmlString(), "Index", new { sort = "DateOfBirth" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.standard).ToHtmlString(), "Index", new { sort = "standard" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Address).ToHtmlString(), "Index", new { sort = "Address" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.standard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>

    }

 </table>

<table class="table">
    <tr>

        @for (var num = 1; num <= ViewBag.pageCount; num++)
        {
            <td>
                @Html.ActionLink(num.ToString(), "Index", new { id = num })
            </td>
        }


    </tr>

</table>
